body{
  background-color:azure;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.introduce{
  width: 80%;
}

.introduce__head{
  display: flex;
  justify-content: center;
  position: relative;
}

.introduce__home{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduce__link{
  position: absolute;
  left: 0;
  margin-right: 30px;
}

.introduce__title{
  text-align: center;
  color:rgb(40, 203, 149);
}

.in__wrap{
  display: flex;
  gap: 10px;
}

.in__left{
  width: 50% ;
  font-size: 17px;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.in__right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.in__text{
  margin: 0;
  text-align: justify;
 
}

.in__img{
  width: 100%;
  border-radius: 6px;
}