body{
  background-color:azure;
}

.introduce__content{
  background-color: #fff;
  box-sizing: border-box;
  padding:10px 20px 20px ;
  box-shadow:0 0 10px rgb(228, 227, 227);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.section+.section{
  margin-top: 40px;
}
.introduce{
  width: 80%;
}

.introduce__head{
  display: flex;
  justify-content: center;
  position: relative;
}

.introduce__home{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduce__link{
  position: absolute;
  left: 0;
  margin-right: 30px;
}

.introduce__title{
  text-align: center;
  color:rgb(40, 203, 149);
}

.in__wrap{
  display: flex;
  gap: 20px;
}

.in__left{
  width: 50% ;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 6px;
}



.in__right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 6px;
}

.in__text{
  margin: 0;
  text-align: justify;
 
}

.in__img{
  width: 100%;
  border-radius: 10px;
  box-shadow:0 0 10px rgb(170, 169, 169);
}

.in__img:hover{
  transform: scale(1.1);
}

img{
  border-radius: 6px;
  box-shadow:0 0 10px rgb(170, 169, 169);
}