  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .places {
    width: 80%;
  }

  section {
    margin-bottom: 20px;
  }

  .title {
    margin: 0;
    font-size: 36px;
    color: #0c92eb;

  }

  .hotPlace__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    overflow-x: auto;
    scrollbar-width: thin;
  }

  .pl__item {
    box-sizing: border-box;
    width: calc((100% - 20px) / 3);
    margin-bottom: 20px;
    cursor: pointer;
    flex-shrink: 0;
  }

  .pl__item:hover {
    color: #7cc5f6;
  }

  .pl__item:hover img {
    transform: scale(1.1);
  }

  /* .pl__item:nth-child(2){
    box-sizing: border-box;
    margin: 0 5px;
  } */

  .pl__img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
  }

  .pl__img img {
    width: 100%;
    height: 258px;
  }

  .pl__name {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  .no-place {
    font-size: 20px;
    font-weight: 600;
  }