  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .places {
    width: 80%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d5d5d5;
  }

  section {
    margin-bottom: 20px;
  }
  
  section+section{
    margin-bottom: 40px;

  }

  .title {
    margin: 0;
    font-size: 36px;
    color: #0c92eb;

  }

  .hotPlace__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #dbdbdb transparent;
    padding: 10px 0  ;
  }

  .pl__item {
    box-sizing: border-box;
    width: calc((100% - 20px) / 3);
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0 0 10px #d5d5d5;
    overflow: hidden;
    padding-bottom: 10px;
    background-color: #eaf8fb;
  }

  .pl__item:hover {
    color: #7cc5f6;
  }

  .pl__item:hover img {
    transform: scale(1.1);
  }

  /* .pl__item:nth-child(2){
    box-sizing: border-box;
    margin: 0 5px;
  } */

  .pl__img {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .pl__img img {
    width: 100%;
    height: 258px;
  }

  .pl__name {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
  }

  .no-place {
    font-size: 20px;
    font-weight: 600;
  }