.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAF8FB;
  flex-direction: column;
}

.places {
  border-radius: 10px;
  width: 80%;
  /* background-color: white; */
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #d5d5d5;
}

.title {
  margin: 0;
  font-size: 36px;
  color: #0c92eb;
}

.content {
  margin-bottom: 20px;
  color: #0c92eb;
}

/* .title,
.content {
  color: #4F4F4F;

  color: #2F80ED;
  /* color: #7cc5f6; */





section {
  margin-bottom: 40px;
}

.section__hd {
  display: flex;
  justify-content: space-between;
}

.hotPlace__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl__item {
  width: 33.3333%;
  box-shadow: 0 0 10px #aaaaaa;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 10px;
  background-color: #eaf8fb;
}

.pl__item:nth-child(2) {
  box-sizing: border-box;
  margin: 0 8px;
}

.pl__img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  
}

.pl__item:hover {
  color: #7cc5f6;
}

.pl__item:hover img {
  transform: scale(1.1);
}

.pl__img img {
  width: 100%;
  height: 258px;
  /* margin:0 5px; */
}

.pl__name {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.footer {
  background: #7cc5f6;
  padding: 40px 0;
  font-size: 14px;
  color: #333;
}

.ft_container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer p {
  margin: 6px 0;
  line-height: 1.6;
}

.ft_thongtin {

  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  text-decoration: none;
}

.ft_thongtin a:hover {
  text-decoration: underline;
}

.ft_chungnhan img {
  height: 36px;
  margin: 6px 10px 6px 0;
  object-fit: contain;
}

.ft_ketnoi {
  margin-top: 18px;
  /* padding: 24px; */
  border-radius: 10px;
  /* font-size: 20px;
  margin-bottom: 18px; */
}

.contact-form {
  display: flex;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.contact-form input {
  flex: 1;
  border: none;
  padding: 12px;
  font-size: 14px;
  outline: none;
}

.contact-form button {
  width: 52px;
  background: #e60000;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.section__hd-right {}

.section__hd-right a {
  text-decoration: none;
  color: #0c92eb;

  /* color: #7cc5f6; */
}

.section__hd-right .section_logo {
  color: #7cc5f6;
}

.section__hd-right:hover .section_right-link {
  text-decoration: underline;
  color: #F2A541;
}

.info-short{
  height: 140px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: rgba(72, 187, 241, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 0 10px #cdcdcd;
}

.info_value{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-short__img{
  width: 50%;
}

.short-content{
  font-size: 30px;
  color: rgb(59, 58, 58);
  font-weight: 600;
}

.info-short img{
  height:144px ;
  width: 606px;
}